/trabajo_web/nbproject/private/
/trabajo_web/trabajo_web-war/nbproject/private/
/trabajo_web/trabajo_web-ejb/nbproject/private/
/trabajo_web/dist/
/trabajo_web/build/
/trabajo_web/trabajo_web-ejb/dist/
/trabajo_web/trabajo_web-ejb/build/
/trabajo_web/trabajo_web-war/build/
/trabajo_web/trabajo_web-war/dist/
/Blog/Blog-ejb/build/
/Blog/Blog-ejb/dist/
/Blog/Blog-ejb/nbproject/private/
/Blog/Blog-war/build/
/Blog/Blog-war/dist/
/Blog/Blog-war/nbproject/private/
/Blog/dist/
/Blog/build/
/Blog/nbproject/private/