<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ingresarProductos</servlet-name>
        <servlet-class>servlets.ingresarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantillaCrear</servlet-name>
        <servlet-class>producto.plantillaCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProductos</servlet-name>
        <servlet-class>servlets.VerProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarProductos</servlet-name>
        <servlet-class>producto.listarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProducto</servlet-name>
        <servlet-class>servlets.eliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarProducto</servlet-name>
        <servlet-class>servlets.editarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProducto</servlet-name>
        <servlet-class>servlets.updateProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ingresarProductos</servlet-name>
        <url-pattern>/ingresarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantillaCrear</servlet-name>
        <url-pattern>/plantillaCrear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProductos</servlet-name>
        <url-pattern>/VerProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarProductos</servlet-name>
        <url-pattern>/listarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProducto</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarProducto</servlet-name>
        <url-pattern>/editarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProducto</servlet-name>
        <url-pattern>/updateProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
