<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ingresarProductos</servlet-name>
        <servlet-class>servlets.ingresarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantillaCrear</servlet-name>
        <servlet-class>producto.plantillaCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantillaCrearBodega</servlet-name>
        <servlet-class>bodega.plantillaCrearBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProductos</servlet-name>
        <servlet-class>servlets.VerProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarProductos</servlet-name>
        <servlet-class>producto.listarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProducto</servlet-name>
        <servlet-class>servlets.eliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarProducto</servlet-name>
        <servlet-class>servlets.editarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProducto</servlet-name>
        <servlet-class>servlets.updateProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresarBodegas</servlet-name>
        <servlet-class>servlets.ingresarBodegas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearMov</servlet-name>
        <servlet-class>movimiento.crearMov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresarMov</servlet-name>
        <servlet-class>servlets.ingresarMov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verMov</servlet-name>
        <servlet-class>servlets.verMov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerBodega</servlet-name>
        <servlet-class>servlets.VerBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarBodega</servlet-name>
        <servlet-class>servlets.EliminarBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarBodega</servlet-name>
        <servlet-class>servlets.EditarBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBodega</servlet-name>
        <servlet-class>servlets.UpdateBodega</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ingresarProductos</servlet-name>
        <url-pattern>/ingresarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantillaCrear</servlet-name>
        <url-pattern>/plantillaCrear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantillaCrearBodega</servlet-name>
        <url-pattern>/plantillaCrearBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProductos</servlet-name>
        <url-pattern>/VerProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarProductos</servlet-name>
        <url-pattern>/listarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProducto</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarProducto</servlet-name>
        <url-pattern>/editarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProducto</servlet-name>
        <url-pattern>/updateProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresarBodegas</servlet-name>
        <url-pattern>/ingresarBodegas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearMov</servlet-name>
        <url-pattern>/crearMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresarMov</servlet-name>
        <url-pattern>/ingresarMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verMov</servlet-name>
        <url-pattern>/verMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerBodega</servlet-name>
        <url-pattern>/VerBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarBodega</servlet-name>
        <url-pattern>/EliminarBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarBodega</servlet-name>
        <url-pattern>/EditarBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBodega</servlet-name>
        <url-pattern>/UpdateBodega</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
